extends ../layout/index

block content
 div(class="py-10")
    h1(class="text-4xl my-10 font-extrabold text-center") Real
      span(class="font-normal") Estate
    h2(class="text-center text-2xl font-extrabold")= page

    div(class="bg-white shadow py-4 px-4 rounded-lg max-w-md mx-auto")
      p(class= error ? "bg-red-500 py-2 px-5 rounded-lg w-full font-bold text-center text-white uppercase" : "bg-green-500 py-2 px-5 rounded-lg w-full font-bold text-center text-white uppercase")= message

      if !error
        a(href="/auth/login" class="block text-center text-sm text-indigo-600 hover:text-indigo-700 my-5") Sign in
