extends ./layout/app

block styles 
  link(rel="stylesheet" href="https://unpkg.com/leaflet@1.8.0/dist/leaflet.css")
  //- pre= JSON.stringify(property, null, 2)
  
block content
  div(class="py-5")
    h1(class="text-center text-4xl font-extrabold") Map location

    div(class="flex flex-col md:flex-row items-center py-10 gap-4")
      h2(class="text-sm uppercase text-gray-800 font-bold") Filter properties:

      div(class="w-full md:w-auto flex items-center gap-2")
        label(for="categories" class="text-sm w-24 uppercase text-gray-500 font-bold") Category:
        select(id="categories" class="flex-1 bg-white w-full px-3 py-2 border border-gray-300 rounded-md shadow")
          option(value="") Select category
          each category in categories
            option(value=category.id)= category.name

      div(class="w-full md:w-auto flex items-center gap-2")
        label(for="prices" class="text-sm w-24 uppercase text-gray-500 font-bold") Price:
        select(id="prices" class="flex-1 bg-white w-full px-3 py-2 border border-gray-300 rounded-md shadow")
          option(value="") Select price
          each price in prices
            option(value=price.id)= price.name

    div(id="mapHome" class="h-[500px] mt-5")

    section(class="py-5")
      h2(class="text-center text-4xl font-extrabold pt-10") Find a new House

      pre= JSON.stringify(houses, null, 2)

block scripts
  script(src="https://unpkg.com/leaflet@1.8.0/dist/leaflet.js")
  script(src="/js/homeMap.js")