header(class="bg-indigo-600 p-4")
  div(class="container mx-auto flex justify-between items-center")
    h1(class="text-2xl text-white font-extra-bold text-center") Real 
      span(class="font-normal") State
    
    nav(class="my-5 text-sm md:flex md:items-center md:gap-3 font-bold text-white hidden")
      a(href="") Sing Up
      a(href="") Sing In

div(class="bg-indigo-700 py-5 hidden lg:block")
  div(class="container mx-auto flex justify-between")
    a(href="/categories/1" class="text-sm font-bold uppercase text-white") Home
    a(href="/categories/2" class="text-sm font-bold uppercase text-white") Apartment
    a(href="/categories/3" class="text-sm font-bold uppercase text-white") Condo
    a(href="/categories/4" class="text-sm font-bold uppercase text-white") Townhouse
    a(href="/categories/5" class="text-sm font-bold uppercase text-white") House
    a(href="/categories/6" class="text-sm font-bold uppercase text-white") Land
    a(href="/categories/7" class="text-sm font-bold uppercase text-white") Commercial