header(class="bg-indigo-600 p-4")
  div(class="container mx-auto flex justify-between items-center")
    a(href="/")
      h1(class="text-2xl text-white font-extra-bold text-center") Real 
        span(class="font-normal") State
    
    nav(class="my-5 text-sm md:flex md:items-center md:gap-3 font-bold text-white hidden")
      a(href="/auth/signup") Sing Up
      a(href="/auth/login") Sing In

div(class="bg-indigo-700 py-5 hidden lg:block")
  div(class="container mx-auto flex justify-between")
    nav(class="flex gap-5 items-center")
      a(href="/category/1" class="text-sm font-bold uppercase text-white") Home
      a(href="/category/2" class="text-sm font-bold uppercase text-white") Apartment
      a(href="/category/3" class="text-sm font-bold uppercase text-white") Condo
      a(href="/category/4" class="text-sm font-bold uppercase text-white") Townhouse
      a(href="/category/5" class="text-sm font-bold uppercase text-white") House
      a(href="/category/6" class="text-sm font-bold uppercase text-white") Land
      a(href="/category/7" class="text-sm font-bold uppercase text-white") Commercial
    form(action="/search" method="POST" class="flex gap-3 items-center")
      input(type="hidden" name="_csrf" value=csrfToken)
      label(for="search" class="text-sm font-bold uppercase text-white") Search
      input(type="text" name="search" id="search" class="p-2 rounded-lg shadow text-sm" placeholder="searching a property...")

      input(type="submit" value="Search"  class="bg-indigo-800 hover:bg-indigo-400 rounded-lg text-white text-sm uppercase font-bold p-2 cursor-pointer") 

