extends ../layout/index

block content
 div(class="py-10")
    h1(class="text-4xl my-10 font-extrabold text-center") Real
      span(class="font-normal") Estate
    h2(class="text-center text-2xl font-extrabold")= page

    p(class="text-xl font-bold text-center my-10")= message